*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgba(33, 116, 51, 0.486) !important;
}
.container h1{
    text-align: center;
    color: #2e06bd;
    margin-top: 20px;
}
.table-display{
    margin-top: 50px;
}
.new-records{
   width: 100%;
}
.new-records  a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.button{
    background-color: #2e06bd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    margin: 0 auto;
}