*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: white!important;
}
.container h1{
    text-align: center;
    color: white;
    margin-top: 20px;
}
.table-display{
    margin-top: 50px;
}
.new-records{
    background-color: #2e06bd;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}